<%- include('./base/header.ejs') %>
    <div class="alert-alert-primary p-3 mb-2 bg-info-subtle text-info-emphasis">
        <h3>Add New Record</h3>
    </div>
    <div class="container w-50 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <form action="/update_record/<%= record._id %>" method="POST">
            <div class="mb-3">
                <label class="form-label">Enter Your Name</label>
                <input type="text" name="name" class="form-control" value="<%= record.name %>" />

            </div>
            <div class="mb-3">
                <label class="form-label">Enter Your email</label>
                <input type="text" name="email" class="form-control" value="<%= record.email %>">

            </div>
            <div class="mb-3">
                <label class="form-label">Enter Your city</label>
                <input type="text" name="city" class="form-control" value="<%= record.city %>">

            </div>
            <div class="mb-3">
                <label class="form-label">Enter Your contact</label>
                <input type="text" name="contact" class="form-control" value="<%= record.contact %>">

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <%- include('./base/footer.ejs') %>